.root{
    height: 40px;
    padding-bottom: 40px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap:25px;
    li{
        cursor: pointer;
    }
    a {
        font-family: 'Play';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: var(--text-color);
        transition: color 400ms linear;
        &:hover{
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 24px;
        }
    }
    :global {
        .selected{
        a{
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            color: var(--text-color);
        }
    }
}
}

@media (min-width: 320px) and (max-width: 560px){
    .root{
        width: 280px;
        height: 40px;
        padding-bottom: 20px;
        padding-left: 0;
        margin-top: 25px;
        margin-bottom: 0;
        gap: 10px;
        a {
            font-size: 12px;
            line-height: 18px;
            &:hover{
                font-size: 16px;
                line-height: 18px;
            }
        }
        :global {
            .selected{
            a{
                font-size: 21px;
            }
        }
    }
    }
}

@media (min-width: 561px) and (max-width: 10000px){

}