html{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'Play';
	src: url('../src/components/fonts/Play-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

/*main*/

.wrap__content_main{
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 580px){
  .content{
    justify-content: center;
  }
}

@media (min-width: 580px) and (max-width: 780px){
  .content{
    justify-content: center;
  }
}

/*тема*/
 html[data-theme="dark"]{
  /*общие*/
  --background-color: #272727;
  --text-color: #ffffff;
  /*шапка*/
  --border-color: #e0dbdbd0;
  --background-image: url('../public/img/logo_darktheme.png');
  --search-image: url('../public/img/search-dark.png');
  /*навигация*/
  --color-link: #c3c3c3;
  --color-link-hover: #503131;
  --background-nav-image: url('../public/img/back-dark.png');
  
  --input-background-color: #272727;
  --input-background-image: url('../public/img/search-dark.png');
  
 }

 html[data-theme="light"]{
  /*общие*/
  --background-color: #ffffff;
  --text-color: #503131;
  /*шапка*/
  --border-color: #e0dbdb66;
  --background-image: url('../public/img/logo.png');
  --search-image: url('../public/img/search.png');
  /*навигация*/
  --color-link: #E0DBDB;
  --color-link-hover: #503131;
  --background-nav-image: url('../public/img/back.svg');

  --input-background-color: #ffffff;
  --input-background-image: url('../public/img/search.png');
  
 }

 .App{
  background-color: var(--background-color);
  transition: background-color 400ms linear;
 }

